@CHARSET "utf-8";

.ui-ecp-multiselect {
	font-size: 13px;
	width: 300px;
	position: relative;
}

.ui-ecp-multiselect .label {
	float: left;
	height: 22px;
	line-height: 22px;
}

.ui-ecp-multiselect .ms-field { /* height: 22px; */
	/* min-height: 22px;
	min-width:300px; */
	float: left;
	/* display:inline-block; */
}

.ms-field .selected-options {
	border: 1px solid gray;
	/* min-height: 22px; */
	/* min-width:300px; */
	display: inline-block;
	background-color: white;
}

.ms-field .ms-options {
	border: 1px solid gray;
	/* height:200px; */
	display: inline-block;
	margin-top: 1px;
	/* min-width:300px; */
	display: none;
	position:absolute;
}

/* 下拉按钮 */
.ms-field .trigger { /* position:absolute; */
	right: 0px;
	float: right;
	width: 20px;
	height: 19px;
	margin: 1px 2px 0 0;
	display: inline;
	background: url(../img/icons.png) no-repeat;
}

.ms-field .trigger.up {
	background-position: -219px -43px;
}

.ms-field .trigger.up:hover {
	background-position: -242px -43px;
}

.ms-field .trigger.up:active {
	background-position: -265px -43px;
}

.ms-field .trigger.down {
	background-position: -288px -43px;
}

.ms-field .trigger.down:hover {
	background-position: -311px -43px;
}

.ms-field .trigger.down:active {
	background-position: -334px -43px;
}

/* 候选项列表 */
.ms-options ul {
	list-style: none;
	margin: 0 auto 3px 0;
	padding: 1px 0;
}

.ms-options ul li {
	cursor: pointer;
	padding-left: 3px;
}

.ms-options ul li.focus {
	background-color: #ffa5b1;
}

.ms-options ul li a {
	text-decoration: none;
	color: black;
}

.ms-options ul li a:FOCUS {
	border: 1px black solid;
	text-decoration: none;
	background-color: green;
}

.ms-options .no-option {
	font-style: italic;
	display: none;
}

/* 选择项 */
.ms-field .selected-options-holder { /* width:90%; */
	/* margin-right:24px; */
	float: left;
	padding-bottom: 2px;
	background-color: white;
}

.ms-field .selected-option {
	background-color: #ffa5b1;
	border: none;
	display: inline-block;
	/* margin:1px 0px 1px 1px; */
	height: 18px;
	line-height: 18px;
	min-width: 30px;
	margin: 2px 0px 0 3px;
	padding: 0px 2px;
	background-color: white;
}

/* .ms-field .selected-option span {
	inline-height:20px;
	text-align: center;
} */
.selected-option .remove {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: blue;
	height: 8px;
	width: 8px;
	display:inline;
	/* float:right; */
	/* margin:0 2px; */
}

.remove.visible {
	visibility: visible;
}

.remove.hidden {
	visibility: hidden;
}