.ui-bulletin {
	width: 100%;
	margin-top:10px;
	margin-left: 2px;
}
.hidden{
	display: none;
}

.bulletin-list {
	list-style: disc inside none;
    padding: 0;
}

.bulletin-list li {
    float: left;
    line-height: 30px;
    text-indent: 20px;
    width: 100%;
    list-style: disc inside none
}

.bulletin-list li a {
	color: #323232;
    text-decoration: none;
}