.main_navi_bar {
	float: left;
	height: 33px;
	width: 80%;
	margin-top: 12px;
	margin-left:50px;
	font-size: 15px;
	font-family: Microsoft YaHei, serif;
}

.main_navi_bar a {
	position: absolute;
	float: left;
	width: 102px;
	height: 32px;
	text-decoration: none;
	color: white;
	line-height: 30px;
	/* text-indent: 24px; */
	text-align: center;
}

.main_navi_bar a.active {
	margin-top: 1px;
	background: url(../img/navi_label_big_active.png) no-repeat;
	z-index: 99;
}

.main_navi_bar a.normal {
	margin-top: 3px;
	background: url(../img/navi_label_big_normal.png) no-repeat;
}

.index1 {
	margin-left: -10px;
	z-index: 5;
}

.index2 {
	margin-left: 80px;
	z-index: 4;
}

.index3 {
	margin-left: 170px;
	z-index: 3;
}

.index4 {
	margin-left: 260px;
	z-index: 2;
}

.index5 {
	margin-left: 350px;
	z-index: 1;
}

.index6 {
	margin-left: 440px;
	z-index: 1;
}

.index7 {
	margin-left: 530px;
	z-index: 1;
}

.index8 {
	margin-left: 620px;
	z-index: 1;
}

.index9 {
	margin-left: 710px;
	z-index: 1;
}

.index10 {
	margin-left: 800px;
	z-index: 1;
}

.hidden {
	display: none;
}