.order_labels {
	float: left;
	width: 100%;
	background: url(../img/list_img_dot_gray.gif) 0 100% repeat-x;
}

.btn_wrapper {
	float: right;
	width: 106px;
	margin-right: 146px;
}

.btn_excel_import_wrapper{
	float: right;
	width: 106px;
	margin-right: 30px;
}

.btn_add_order {
	position: absolute;
	z-index: 3;
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	padding-left: 18px;
	display: inline;
	color: #343434;
	background: url(../img/buttons.png) -233px 0 no-repeat;
}

.btn_add_order:hover {
	background-position: -233px -30px;
}

.btn_add_order:active {
	background-position: -233px -60px;
}

.btn_add_select,.btn_add_select_excel {
	position: absolute;
	z-index: 3;
	float: left;
	width: 28px;
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	margin-left: 78px;
	color: #343434;
	background: url(../img/buttons.png) -311px 0 no-repeat;
}

.btn_add_select:hover {
	background-position: -311px -60px;
}

.btn_add_select:active {
	background-position: -311px -90px;
}

.btn_menu {
	position: absolute;
	z-index: 2;
	float: left;
	width: 106px;
}

.btn_menu .menu_border {
	float: left;
	width: 106px;
	background: url(../img/button_menu_border.png) no-repeat;
}

.btn_menu .menu_border .sept_line {
	float: left;
	width: 79px;
	display: inline;
	border-left: 1px solid #e4e7e8;
	overflow: hidden;
}

.btn_menu .menu_border.top {
	height: 6px;
	background-position: 0 0;
}

.btn_menu .menu_border.btm {
	height: 7px;
	background-position: 0 100%;
}

.btn_menu .menu_border.top .sept_line {
	height: 5px;
	margin: 1px 0 0 24px;
}

.btn_menu .menu_border.btm .sept_line {
	height: 4px;
	margin-left: 24px;
}

.btn_menu .menu_list {
	float: left;
	width: 106px;
	line-height: 20px;
	background: url(../img/button_menu_fill.png) repeat-y;
}

.btn_menu .menu_list .menu_item_single {
	float: left;
	width: 77px;
	margin-left: 2px;
	padding-left: 24px;
	display: inline;
	text-decoration: none;
	color: #323232;
}

.btn_menu .menu_list .menu_item_single:hover {
	background-color: #e4e7e8;
}

.btn_menu .menu_list .menu_item_multiple {
	float: left;
	width: 99px;
	margin-left: 5px;
	display: inline;
	text-decoration: none;
	color: #323232;
}

.btn_menu .menu_list .menu_item_multiple .list_dot {
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px 3px 2px 0;
	display: inline;
	background: #484848;
}

.btn_menu .menu_list .menu_item_multiple .menu_text {
	float: right;
	width: 77px;
	padding-left: 2px;
	display: inline;
	border-left: 1px solid #e4e7e8;
	cursor: pointer;
}


.order_list,.return_list {
	float: left;
	width: 100%;
	padding-top: 14px;
}

.order_list table tbody td,.return_list table tbody td {
	line-height: 24px;
}

.order_list table tbody td a,.return_list table tbody td a {
	white-space: nowrap;
}

.order_query_form,.return_query_form {
	float: left;
}

.order_query_form.wide,.return_query_form.wide {
	margin-left: 20px;
	display: inline;
}

.order_query_form.short,.return_query_form.short {
	margin: 0;
}
/*.order_query_form .form_border, .return_query_form .form_border {
    float: left; width: 5px; height: 93px; overflow-x: hidden;
    background: url(../img/rounded_lightgray_gradient_border.png) no-repeat;
}
.form_border.border_left { background-position: 0 0; }
.form_border.border_right { background-position: 100% 0; }*/
.form_content {
	float: left;
	width: 790px;
	height:90px;
	overflow-y: hidden;
	/*background: url(../img/rounded_lightgray_gradient_bg_fill.png) 0 0 repeat-x;*/
}

.order_query_form .form_filed {
	float: left;
	width: 260px;
	margin-right: 3px;
	padding: 15px 0 0 0;
	display: inline;
}

.order_query_form .form_filed label {
	float: left;
	width: 80px;
	height: 24px;
	line-height: 24px;
	margin-right: 10px;
	display: inline;
	text-align: right;
}

.return_query_form .form_filed {
	float: left;
	margin-right: 3px;
	padding: 15px 0 0 0;
	display: inline;
}

.return_query_form .form_filed.wilde {
	float: left;
	width: 564px;
	margin-right: 3px;
	padding: 15px 0 0 0;
	display: inline;
}

.return_query_form .form_filed label,.return_query_form .form_filed span
	{
	float: left;
	height: 24px;
	line-height: 24px;
	text-align: right;
}

.return_query_form .form_filed .datepicker_title {
	margin-left: 10px;
	display: inline;
}

.return_query_form .form_filed .field_title {
	margin: 0 10px;
	display: inline;
}

.return_query_form .form_filed span {
	margin: 0 10px;
	display: inline;
}

.order_query_form .form_filed input {
	width: 160px;
}

.order_query_form .button_filed {
	float: right;
	width: 260px;
	margin-right: 3px;
	padding: 13px 0 0 0;
	display: inline;
}

.return_query_form .button_filed {
	float: right;
	margin-right: 3px;
	padding: 13px 0 0 0;
	display: inline;
}

.button_filed .button_wrapper {
	float: right;
	margin-right: 20px;
	display: inline;
}

.button_filed .button_wrapper a {
	float: left;
	width: 69px;
	height: 26px;
	line-height: 26px;
	margin-left: 10px;
	display: inline;
	text-align: center;
	text-decoration: none;
	background: url(../img/buttons.png) no-repeat;
}

.button_wrapper a.button_query {
	color: white;
	background-position: -699px 0;
}

.button_wrapper a.button_query:hover {
	background-position: -699px -26px;
}

.button_wrapper a.button_query:active {
	background-position: -699px -52px;
}

.button_wrapper a.button_cancel {
	color: black;
	background-position: -768px 0;
}

.button_wrapper a.button_cancel:hover {
	background-position: -768px -26px;
}

.button_wrapper a.button_cancel:active {
	background-position: -768px -52px;
}

.order_single_width {
	width: 935px;
}

.order_confirm_flow {
	float: left;
	width: 100%;
	margin: 14px 0 8px 0;
}

.order_confirm_flow .flow_icons {
	float: left;
	width: 28px;
	height: 28px;
	line-height: 28px;
	margin-left: 14px;
	display: inline;
	text-align: center;
	font-size: 15px;
	color: white;
	background: url(../img/icons.png) no-repeat;
}

.flow_name {
	float: left;
	height: 28px;
	line-height: 28px;
	padding: 0 10px 0 5px;
	display: inline;
	font-size: 15px;
}

.order_confirm_flow .flow_current,.order_confirm_flow .flow_others {
	float: left;
}

.order_confirm_flow .flow_current .flow_icons {
	background-position: -2px -100px;
}

.order_confirm_flow .flow_others .flow_icons {
	background-position: -32px -100px;
}

.order_confirm_flow .flow_current .flow_name {
	color: #587606;
}

.order_confirm_flow .flow_others .flow_name {
	color: #a1a1a1;
}

.rounded_gray_box {
	float: left;
	width: 935px;
}

.rounded_gray_box .rounded_corner {
	float: left;
	width: 5px;
	height: 5px;
	overflow: hidden;
	background: url(../img/rounded_gray_corner.png) no-repeat;
}

.rounded_gray_box .rounded_corner.lt {
	background-position: 0 0;
}

.rounded_gray_box .rounded_corner.rt {
	background-position: -5px 0;
}

.rounded_gray_box .rounded_corner.lb {
	background-position: 0 -5px;
}

.rounded_gray_box .rounded_corner.rb {
	background-position: -5px -5px;
}

.rounded_gray_box .rounded_border.ver {
	float: left;
	width: 925px;
	height: 5px;
	overflow: hidden;
	background: url(../img/rounded_gray_border_ver.png) repeat-x;
}

.rounded_gray_box .rounded_border.ver.top {
	background-position: 0 0;
}

.rounded_gray_box .rounded_border.ver.btm {
	background-position: 0 -5px;
}

.rounded_gray_box .rounded_border.hor {
	float: left;
	display: inline;
	background: url(../img/rounded_gray_border_hor.png) repeat-y;
}

.rounded_gray_box .rounded_border.hor.lft {
	width: 930px;
	padding-left: 5px;
	background-position: 0 0;
}

.rounded_gray_box .rounded_border.hor.rit {
	width: 925px;
	padding-right: 5px;
	background-position: 100% 0;
}

.rounded_gray_box .rounded_content {
	float: left;
	width: 925px;
	background: #f2f3f4;
}

/**/
.order_base_info {
	float: left;
	width: 903px;
	margin: 20px 11px 15px 11px;
	display: inline;
}

.order_base_info div {
	float: left;
	margin-bottom: 10px;
}

.order_base_info label {
	float: left;
	width: 80px;
	text-align: right;
}

.order_base_info .textfield_wrapper {
	float: left;
	margin-right: 10%;
	display: inline;
	width:100%;
}

.order_base_info .selector_wrapper {
	float: left;
}


.rounded_single_bar,.rounded_extended_bar {
	float: left;
}

.rounded_single_bar.inside_width,.rounded_extended_bar.inside_width {
	width: 903px;
	margin: 5px 11px;
	display: inline;
}

.rounded_single_bar.outside_width,.rounded_extended_bar.outside_width {
	width: 935px;
	margin: 5px 0;
}

.rounded_extended_bar.query_form_width.long {
	width: 950px;
	margin-bottom: 10px;
}

.rounded_extended_bar.query_form_width.wide {
	width: 850px;
	margin-bottom: 10px;
}

.rounded_extended_bar.query_form_width.short {
	width: 800px;
	margin: 0 0 10px 20px;
	display: inline;
}

/*corner*/
.rounded_single_bar .bar_corner,.rounded_extended_bar .bar_corner {
	float: left;
	width: 5px;
	height: 5px;
	overflow: hidden;
}

.rounded_single_bar .bar_corner {
	background: url(../img/rounded_gray_gradient_single_corner.png)
		no-repeat;
}

.rounded_extended_bar .bar_corner {
	background: url(../img/rounded_gray_gradient_corner.png) no-repeat;
}

.bar_corner.lt {
	background-position: 0 0;

	clear: both;
}

.bar_corner.rt {
	background-position: -5px 0;
}

.bar_corner.lb {
	background-position: 0 -5px;
	clear: both;
}

.bar_corner.rb {
	background-position: -5px -5px;
}

/*border*/
.rounded_single_bar .bar_border,.rounded_extended_bar .bar_border {
	float: left;
	height: 5px;
	overflow: hidden;
}

.rounded_single_bar .bar_border.inside_width,.rounded_extended_bar .bar_border.inside_width
	{
	width: 893px;
}

.rounded_single_bar .bar_border.outside_width,.rounded_extended_bar .bar_border.outside_width
	{
	width: 925px;
}

.rounded_single_bar .bar_border {
	background: url(../img/rounded_gray_gradient_single_border_ver.png)
		repeat-x;
}

.rounded_extended_bar .bar_border {
	background: url(../img/rounded_gray_gradient_border_ver.png) repeat-x;
}

.bar_border.top {
	background-position: 0 0;
}

.bar_border.btm {
	background-position: 0 -5px;
}

.rounded_extended_bar .bar_border.query_form_width.long {
	width: 940px;
}

.rounded_extended_bar .bar_border.query_form_width.wide {
	width: 840px;
}

.rounded_extended_bar .bar_border.query_form_width.short {
	width: 790px;
}

/*content*/
.rounded_single_bar .bar_content,.rounded_extended_bar .bar_content {
	float: left;
	margin: 0 1px;
	display: inline;
	border: 1px solid #b4bbc2;
	border-top: 0;
	border-bottom: 0;
}

.rounded_single_bar .bar_content.inside_width,.rounded_extended_bar .bar_content.inside_width
	{
	width: 99.6%;
}

.rounded_single_bar .bar_content.outside_width,.rounded_extended_bar .bar_content.outside_width
	{
	width: 931px;
}

.rounded_single_bar .bar_content {
	height: 34px;
	overflow-y: hidden;
	background: url(../img/rounded_gray_gradient_single_fill.png)
		repeat-x;
}

.rounded_extended_bar .bar_content.inside_width {
	background: url(../img/rounded_gray_gradient_bg_inside.png) top
		center no-repeat white;
}

.rounded_extended_bar .bar_content.outside_width {
	background: url(../img/rounded_gray_gradient_bg_outside.png) top
		center no-repeat white;
}

.rounded_extended_bar .bar_content.query_form_width {
	background: url(../img/rounded_lightgray_gradient_bg_fill.png) 0
		-100px repeat-x white;
}

.rounded_extended_bar .bar_content.query_form_width.long {
	width: 946px;
}

.rounded_extended_bar .bar_content.query_form_width.wide {
	width: 846px;
}

.rounded_extended_bar .bar_content.query_form_width.short {
	width: 796px;
}

.rounded_extended_bar .query_form_more {
	float: left;
	margin-top: 10px;
	text-decoration: none;
	color: black;
}

.rounded_extended_bar .query_form_more .text {
	float: left;
	height: 19px;
	line-height: 19px;
	margin-top: 6px;
}

/*trigger icon*/
.rounded_single_bar .trigger,.rounded_extended_bar .trigger,.rounded_extended_bar .more_icon
	{
	float: left;
	width: 20px;
	height: 19px;
	margin: 6px 10px 0 4px;
	display: inline;
	background: url(../img/icons.png) no-repeat;
}

.trigger.up,.more_icon.up {
	background-position: -221px -43px;
}

.trigger.up:hover,.more_icon.up:hover {
	background-position: -244px -43px;
}

.trigger.up:active,.more_icon.up:active {
	background-position: -267px -43px;
}

.trigger.down,.more_icon.down {
	background-position: -290px -43px;
}

.trigger.down:hover,.more_icon.down:hover {
	background-position: -313px -43px;
}

.trigger.down:active,.more_icon.down:active {
	background-position: -336px -43px;
}

.rounded_single_bar .od_trigger,.rounded_extended_bar .od_trigger,.rounded_extended_bar .more_icon
	{
	float: left;
	width: 20px;
	height: 19px;
	margin: 6px 10px 0 4px;
	display: inline;
	background: url(../img/icons.png) no-repeat;
}

.od_trigger.up,.more_icon.up {
	background-position: -221px -43px;
}

.od_trigger.up:hover,.more_icon.up:hover {
	background-position: -244px -43px;
}

.od_trigger.up:active,.more_icon.up:active {
	background-position: -267px -43px;
}

.od_trigger.down,.more_icon.down {
	background-position: -290px -43px;
}

.od_trigger.down:hover,.more_icon.down:hover {
	background-position: -313px -43px;
}

.od_trigger.down:active,.more_icon.down:active {
	background-position: -336px -43px;
}

.bar_content .info_line div {
	float: left;
	height: 34px;
	line-height: 34px;
	color: #464646;
}

.bar_content .content_name {
	width: 85px;
	cursor: pointer;
}

 

.bar_content .content_info div {
	float: left;
	margin: 0 10px;
	display: inline;
}

.rounded_single_bar a.icon_delete,.rounded_extended_bar a.icon_delete {
	float: right;
	width: 16px;
	height: 15px;
	margin: 9px 8px 0 0;
	display: inline;
	background: url(../img/icons.png) -201px -45px no-repeat;
}

.bar_content .address_info {
	float: left;
	width: 861px;
	line-height: 25px;
	margin: 5px 21px;
	display: inline;
}

.address_info label {
	float: left;
	width: 15%;
	height: 22px;
	line-height: 22px;
	text-align: right;
}

.address_info div {
	float: left;
	width: 85%;
	height: 22px;
	line-height: 22px;
}

.bar_content table {
	width: 861px;
	margin: 0 17px;
	border: 0;
	border-collapse: collapse;
	background: white;
	clear: both;
}

.bar_content .list_btm {
	float: left;
	width: 861px;
	margin: 7px 21px 0 21px;
	display: inline;
}

.order_btn_wrapper {
	float: left;
	margin: 5px 0 5px 24px;
	display: inline;
}

.btn_address_add,.btn_return_add {
	float: left;
	text-decoration: none;
	color: #555;
	font-weight: bold;
}

.btn_address_add .btn_icon,.btn_return_add .btn_icon {
	float: left;
	width: 20px;
	height: 20px;
	margin: 1px 0;
	background: url(../img/icons.png) -130px -43px no-repeat;
}

.btn_address_add .btn_text,.btn_return_add .btn_text {
	float: left;
	line-height: 20px;
	margin-left: 7px;
	display: inline;
	font-size: 12px;
}

.order_add_from_cart {
	position: absolute;
	z-index: 2;
	float: left;
	width: 913px;
	margin: -91px 0 0 -28px;
}

.order_add_from_cart .panel_top {
	float: left;
	width: 877px;
	height: 14px;
	padding: 11px 18px;
	display: inline;
	background: url(../img/bg_panel_add_from_cart.png) 0 0 no-repeat;
}

.order_add_from_cart .panel_title {
	float: left;
	line-height: 22px;
	color: #252525;
}

.order_add_from_cart .panel_content {
	float: left;
	width: 913px;
	padding: 11px 0 13px 0;
	background: url(../img/bg_panel_add_from_cart_fill.png) repeat-y;
}

.order_add_from_cart .panel_btm {
	float: left;
	width: 913px;
	height: 55px;
	background: url(../img/bg_panel_add_from_cart.png) 0 -36px no-repeat;
}

.order_add_from_cart .panel_btm .btns {
	float: right;
	margin: 9px 35px 0 0;
	display: inline;
}

.order_add_from_cart .panel_btm .btns .btn_normal_gray {
	margin-left: 10px;
	display: inline;
}

.order_add_from_cart .panel_btm .btns .list_clear {
	font-size: 14px;
	line-height: 26px;
	color: #335d7a;
}

.order_add_from_cart .panel_btm .btns .list_clear a {
	color: #335d7a;
	text-decoration: none;
}

.order_add_footer,.order_confirm_footer {
	float: left;
	width: 100%;
	line-height: 26px;
	color: #464646;
	font-size: 14px;
	font-weight: bold;
}

.order_add_footer {
	margin: 12px 0 10px 0;
}

.order_confirm_footer {
	margin: 5px 0 5px 0;
}

.order_list_total {
	float: left;
	margin-left: 28px;
	display: inline;
}

.order_add_btns {
	float: right;
	margin: 0 23px 0 34px;
	display: inline;
}

.order_add_btns a {
	margin-left: 10px;
	display: inline;
	font-size: 12px;
	font-weight: normal;
}

.order_credit_chart {
	float: left;
	width: 880px;
	margin: 10px 15px;
	display: inline;
	height:500px;
}

.order_add_success {
	width: 300px;
}

.order_add_success .alert_content {
	float: left;
	width: 220px;
	padding: 20px 0 20px 80px;
	display: inline;
	background: url(../img/icon_check_mark_big.jpg) 0 50% no-repeat;
}

.order_add_success .dialog_links {
	margin-top: 10px;
}

.bar_content .return_address_info {
	float: left;
	width: 861px;
	line-height: 25px;
	margin: 5px 21px;
	display: inline;
}

.return_address_info label {
	float: left;
	width: 15%;
	text-align: right;
}

.receipt_list {
	float: left;
	width: 100%;
}

.receipt_bill {
	float: left;
	width: 840px;
}

.receipt_title,.receipt_footer {
	float: left;
	width: 95%;
	height: 30px;
	margin: 20px 2.5% 0 2.5%;
	display: inline;
}

.receipt_title.border_bottom {
	border-bottom: 1px solid #d8d8d8;
}

.receipt_title .receipt_no {
	float: left;
	line-height: 20px;
	margin: 10px 0 0 20px;
	display: inline;
	font-size: 14px;
	font-weight: bold;
}

.receipt_title .receipt_status {
	float: left;
	line-height: 14px;
	margin: 16px 0 0 30px;
	display: inline;
}

.receipt_button {
	float: right;
}

.receipt_button a {
	margin-left: 5px;
	display: inline;
}

.receipt_subtitle {
	float: left;
	width: 95%;
	height: 16px;
	line-height: 16px;
	margin: 5px 2.5% 0 2.5%;
	display: inline;
}

.receipt_subtitle label {
	float: left;
	width: 15%;
	text-align: right;
}

.receipt_subtitle span {
	float: left;
	width: 15%;
}

.product_search_panel {
	position: absolute;
	width:250px;
	height:50px;
	background-color: red;
}

.w_500px {
  width: 500px !important;
}

.textfiled {
  border-color: #ABADB3 #DBDFE5 #E3E9EF #E2E3EA;
  border-style: solid;
  border-width: 1px;
  display: inline;
  height: 16px;
  line-height: 16px;
  padding: 2px;
  width: 90px;
}

.font_bold {
  font-weight: bold;
}

.bar_content table thead td {
  border: 1px solid #D1D1D1;
  color: #191919;
  height: 26px;
  padding-left: 10px;
}

.bar_content table thead  tr {
  background-color: #F1F1F1;
  background: -moz-linear-gradient(top,#F7F7FE,#DADADB);
  background: -webkit-linear-gradient(top,#F7F7FE,#DADADB);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F7F7FE',endColorStr='#DADADB',gradientType='0');
  border: 1px solid #D1D1D1;
  color: #191919;
  height: 26px;
  padding-left: 10px;
}
.dialog_panel .add_input_name, .bar_content .add_input_name {
  color: #666666;
  float: left;
  text-align: left;
  width: 193px;
}
.dialog_panel .add_input_amount, .bar_content .add_input_amount {
  display: inline;
  float: left;
  margin: 0 5px;
  width: 75px;
}
.dialog_panel .btn_add, .bar_content .btn_add {
  background: url("../img/icons.png") no-repeat scroll -130px -43px transparent;
  display: inline;
  float: left;
  height: 20px;
  margin: 1px 12px 1px 0;
  width: 20px;
}
a.btn_blue, a.btn_gray, a.btn_normal_blue, a.btn_normal_gray, a.btn_gray_long {
  background: url("../img/buttons.png") no-repeat scroll 0 0 transparent;
  float: left;
  text-align: center;
  text-decoration: none;
}
a.btn_blue {
    color: white;
    background-position: -421px 0px;
}
a.btn_gray_long {
  background-position: -837px 0;
  color: #2A2A2A;
  height: 24px;
  line-height: 24px;
  width: 102px;
}

.dialog_panel .list_total, .bar_content .list_total {
  float: right;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
}

.font_yahei {
  font-family: Microsoft YaHei,serif;
}
.dialog_panel .list_total .total_title, .bar_content .list_total .total_title {
  color: #555555;
}
.dialog_panel .list_total .total_price, .bar_content .list_total .total_price {
  color: #E35534;
}
.dialog_panel .list_total .list_clear, .bar_content .list_total .list_clear {
  color: #335D7A;
  margin-left: 30px;
}
.dialog_panel .list_total .list_clear a, .bar_content .list_total .list_clear a {
  color: #335D7A;
  text-decoration: none;
}









.floatright {
  float: right;
}

.floatleft {
  float: left;
}

.color_red {
  color: red;
}
.posdialog a.btn_normal_blue, a.btn_normal_gray {
  height: 26px;
  line-height: 26px;
  width: 69px;
}










a.btn_normal_gray {
  background-position: -768px 0;
  color: black;
}

a.btn_normal_blue {
  background-position: -699px 0;
  color: white;
}
a.btn_normal_blue, a.btn_normal_gray {
  height: 26px;
  line-height: 26px;
  width: 69px;
}


a.btn_normal_blue:hover {
	background-position: -699px -26px;
}

a.btn_normal_blue:active {
	background-position: -699px -52px;
}

a.btn_normal_gray:hover {
	background-position: -768px -26px;
}

a.btn_normal_gray:active {
	background-position: -768px -52px;
}
.dialog_panel table tbody td, .order_list table tbody td, .return_list table tbody td, .bar_content table tbody td {
  border: 1px solid #D2D2D2;
  line-height: 26px;
  padding: 0 5px;
}
.dialog_panel table tbody td a, .order_list table tbody td a, .return_list table tbody td a, .order_list_total a, .bar_content table tbody td a {
  color: #35719A;
  text-decoration: none;
}





.nc-unit {
  width: 50px;
}

/* ������ʽ����ɫ���� ���»��� */
.blue_noline  { 
    color: #35719A; 
    text-decoration: none; 
} 

/*Ϊ�����ĳ����ʾ���ؿ�*/
a.td_tip{
	position: relative;
}

a.td_tip:hover{
	background: #eee;
	color: #333; 
}
 
/*�������µ�spanΪ����״̬*/
a.td_tip div {
	z-index: 100;
	display: none;
}
 
/*����hover�µ�span����Ϊ����״̬,��������ʾ���λ��*/
a.td_tip:hover div {
	z-index: 100;
	display: block;
	position: absolute;
	top: 20px;
	left: 50px;
	width: 230px;
	border: 1px solid grey;
	background: #fff;
	color: #000;
	padding: 5px 10px;
	text-align: left;
	
}

/* ���ö��ͼ��Ĭ������ */
/* .order_credit {
	display: none;
} */

.ui-color-red {
	color: red;
}

.J-inventory-product-type {
	color:red;
}
.idAddressAdd{
	float:right;
	cursor:pointer;
}
.ui-cleaner {
	width: 16px;
	height: 20px;
	display: inline-block;
	position: absolute;
	margin-left: -20px;
	margin-top: 3px;
	background: url('../img/icons.png') -201px -43px no-repeat;
	cursor:pointer;
}
