
.account_info { width: 754px; line-height: 20px; margin-top: 30px; color: black; }
.account_info_title {
    float: left; width: 100%; background: url(../img/title_line_gradient_gray.png) 100% 50% no-repeat;
}
.account_info_title div { padding-right: 5px; display: inline; }
.account_info_detail { float: right; width: 97%; margin: 20px 0; }
.nc-font-weight-bold {
  font-weight: bold;
}
.font_14 {
  font-size: 14px;
}
.floatleft {
  float: left;
}
.floatcenter {
  float: none;
  margin: 0 auto;
}
.bg_white {
  background-color: white;
}
fieldset.nc-fieldset {
  border: 0 none;
}
fieldset.nc-fieldset legend {
  cursor: pointer;
}
span.nc-legend-active {
  background: url("../images/icons.png") no-repeat scroll 0 -65px transparent;
}
span.nc-legend-icon {
  display: inline;
  float: left;
  height: 10px;
  margin: 6px 5px 0 0;
  width: 10px;
}
fieldset div {
  padding-left: 30px;
}
.w_100ps {
  width: 100%;
}
.nc-field-warning {
  color: red;
}
span.nc-legend-active {
  background: url("../img/icons.png") no-repeat scroll 0 -65px transparent;
}
span.nc-legend-icon {
  display: inline;
  float: left;
  height: 10px;
  margin: 6px 5px 0 0;
  width: 10px;
}
.center_content {
  line-height: 30px;
}
.address_info div {
  float: left;
  height: 22px;
  line-height: 22px;
  width: 85%;
}
.nc-field-pw-margin {
  margin-bottom: 10px;
}
.address_info label {
  float: left;
  height: 22px;
  line-height: 22px;
  text-align: right;
  width: 15%;
}
.address_info div {
  line-height: 22px;
}
.textfiled {
  border-color: #ABADB3 #DBDFE5 #E3E9EF #E2E3EA;
  border-style: solid;
  border-width: 1px;
  display: inline;
  height: 16px;
  line-height: 16px;
  padding: 2px;
}
.nc-field-pw-length {
  width: 200px;
}
.nc-field-error {
	float:left;
	width: 20px;
	height: 20px;
	margin: 2px;
	background: url(../img/icons.png) -2px -180px no-repeat;
}