.ui-adaptdialog{
	font-size: 13px;
	font-family: "ו",SimSun,serif;
	float: left;
	width: 100%;
}

.ui-adaptdialog-top{
   width:100%;
   height:40px;
   background: #efefef;
   line-height: 40px;
   float: left;
}

.ui-adaptdialog-top-title{
    margin-left: 20px;
    float: left;
}

.ui-adaptdialog-top-close{
	background: url("../img/icons.png") no-repeat scroll -63px -65px
		transparent;
	display: inline;
	float: right;
	height: 7px;
	margin-top: 16px;
	margin-right:15px;
	width: 9px;
	cursor: pointer;
}

.ui-adaptdialog-content{
	width:100%;
	float: left;
}
.ui-adaptdialog-btm{
	float: left;
	width:100%;
	background: #efefef;
    height: 40px;
}

.ui-adaptdialog-btm a{
	text-decoration: none;
	display: block;
	float: right;
	margin-right: 20px;
	color: white;
	height: 29px;
	line-height: 29px;
	width: 82px;
	background: url("../img/buttons.png") no-repeat scroll 0 0 transparent;
	text-align: center;
	background-position: -421px 0;
	margin-top: 5px;
}

.adaptdialog-widget-overlay {
    background: url("../img/dialog_40x40.png") repeat scroll 50% 50% #EEEEEE;
    opacity: 0.3;
    filter: Alpha(Opacity = 30);
}

.adaptdialog-widget-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
